.block-joke {
    display: grid;
    grid-template-columns: 1fr;
    background: #422ed4;
    color: #fff;
    width: 70vw;
    padding: 24px;
    border-radius: 20px;
    height: 162px;
}

.block-joke p {
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 1280px) {
    .block-joke {
        width: 90vw;
    }
}
